[submodule "Maverick"]
	path = Maverick
	url = https://github.com/humy/Maverick.git
[submodule "Templates/Maverick-Theme-Prism"]
	path = Templates/Maverick-Theme-Prism
	url = https://github.com/humy/Maverick-Theme-Prism.git
[submodule "Templates/Galileo"]
	path = Templates/Galileo
	url = https://github.com/humy/Maverick-Theme-Galileo.git
[submodule "Templates/Maverick-Theme-Kepler"]
	path = Templates/Maverick-Theme-Kepler
	url = https://github.com/humy/Maverick-Theme-Kepler.git
