[submodule "Maverick"]
	path = Maverick
	url = https://gitee.com/huminyan/Maverick.git
[submodule "Templates/Maverick-Theme-Prism"]
	path = Templates/Maverick-Theme-Prism
	url = https://gitee.com/huminyan/Maverick-Theme-Prism.git
[submodule "Templates/Maverick-Theme-Galileo"]
	path = Templates/Maverick-Theme-Galileo
	url = https://gitee.com/huminyan/Maverick-Theme-Galileo.git
[submodule "Templates/Maverick-Theme-Kepler"]
	path = Templates/Maverick-Theme-Kepler
	url = https://gitee.com/huminyan/Maverick-Theme-Kepler.git
